<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="RichText View Sample"
            id="com.onpositive.richtexteditor.snippets">
      </category>
      <view
            name="Sample RichText View"
            icon="icons/sample.gif"
            category="com.onpositive.richtexteditor.snippets"
            class="com.onpositive.richtexteditor.snippets.views.SampleRichTextView"
            id="com.onpositive.richtexteditor.snippets.views.SampleRichTextView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.onpositive.richtexteditor.snippets.views.SampleRichTextView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
