<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.onpositive.richtexteditor.snippets.browser.BrowserSnippet">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.onpositive.richtexteditor.snippets.browser.Perspective"
            id="com.onpositive.richtexteditor.snippets.browser.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.onpositive.richtexteditor.snippets.browser.View"
            id="com.onpositive.richtexteditor.snippets.browser.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.onpositive.richtexteditor.snippets.browser.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.onpositive.richtexteditor.snippets.browser.undo"
            name="Undo">
      </command>
      <command
            id="com.onpositive.richtexteditor.snippets.browser.redo"
            name="Redo">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.onpositive.richtexteditor.snippets.browser.undo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Z">
      </key>
      <key
            commandId="com.onpositive.richtexteditor.snippets.browser.redo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Y">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ExtendedStyledTextRCP.application"
            name="Browser snippet">
         <property
               name="appName"
               value="Browser snippet">
         </property>
      </product>
   </extension>

</plugin>
